.Login {
  background-color: #fff;
  background-image: url('https://s3.ap-south-1.amazonaws.com/sagarpaorchestratorlocal/asset/asset/bg.png');
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &__Content {
    padding-left: 60px;
    padding-right: 70px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &_Maintext__text {
    font-family: serif;

    &--heading {
      font-size: 48px;
      text-align: left;
      font-weight: 400;
      color: #fff;
    }
    &--para {
      font-size: 20px;
      color: #fff;
    }
    &--hr {
      border-top: 1px solid #fff;
    }
  }

  &__Jumobotron {
    background-color: #fff;
    min-height: 300px;
    vertical-align: middle;
    margin-top: -10%;
    padding: 10px;
    border-radius: 0px 0px 50px 0px;

    p {
      font-size: 30px;
      color: #000;
      font-weight: normal;
      padding-bottom: 5px;

      u {
        text-decoration: none;
        border-bottom: 1px solid black;
        padding: 3px;
      }
    }

    label {
      font-size: 18px;
      color: #000;
      font-weight: lighter;
      display: block;
    }

    input {
      border-radius: 0px 0px 15px 0px;
      border-width: thin;
      font-style: italic;
      border-color: #00853e;
      width: 100%;
      margin: 2% 0 2% 0;
    }

    .Login__formInput--submit {
      max-width: 100px;
      margin: 0 auto;
      margin-top: 5%;
    }
  }
}
