.Dashboard {
  background: #f8f6ee;
  height: auto;
  min-height: 600px;
  /*margin: 1vh;*/
  /*margin-left: -2vh;*/
  padding: 20px;
  width: 100%;
  background-image: url('https://s3.ap-south-1.amazonaws.com/sagarpaorchestratorlocal/asset/asset/TRIANGULOS.png');
  background-size: contain;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.Dashboard__Content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.Dashboard__Chart {
  margin: 0;
}
