.Dashboard__Table {
  padding: 20px;

  &__Head {
    font-size: 16px;
    font-weight: normal;
  }

  &__Body {
    font-weight: 300;
  }

  &__Row--Green {
    background-color: #2ecc71;
    color: #fff;
  }

  &__Row--Yellow {
    background-color: #f1c40f;
    color: #fff;
  }

  &__Row--InProgress {
    background-color: #3498db;
    color: #fff;
  }

  &__Row--Red {
    background-color: #c0392b;
    color: #fff;
  }
  &__Row--Unassigned {
    background-color: #7f8c8d;
    color: #fff;
  }
}

.table {
  border-spacing: 5px;
  border-collapse: separate;
  border-style: groove;
}
//
// unassigned - #7f8c8d
// red - #c0392b
// yelloe - #f1c40f
// green - #2ecc71
// blue - #3498db
