.List {
  overflow-y: scroll;
  height: 500px;
}

.Project {
  background: #fff;
  margin: 1vh;
  padding: 20px;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  height: auto;

  &__data {
    font-size: 16px;
    color: #000;
    padding-left: 6%;
    text-align: left;
    font-weight: 300;
    color: #000;
    text-transform: capitalize;
  }

  &__small {
    font-size: 14px;
    color: #000;
    padding-left: 4%;
    padding-bottom: 1%;
    font-weight: 400;
    color: #000;
  }
}
