@import 'app';
@import 'login/all';
@import 'base/all';
@import 'dashboard/all';
@import 'projectList/all';
@import 'rating/all';

html,
body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}
#root {
  height: 100%;
}
