.Aspect {
  background: #f8f6ee;
  height: 500px;
  min-height: 600px;
  margin: 1vh;
  padding: 20px;
  padding-top: 0;
  width: 100%;
  overflow-y: scroll;
  border: 1px solid #00853e;
  border-radius: 5px;

  &__Content {
    justify-content: center;
  }

  li {
    // border-right: 1px solid grey;
    // border-bottom: 1px solid grey;
    cursor: pointer;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 5px 5px 0 0;
    color: #fff;
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    background-color: #00853e;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    margin: 1% 1% 1% 0;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
  &__Nav {
    align-content: center;
    padding-bottom: 40px;
  }
}

.Aspect__jumobotron {
  background-color: #fff;
  min-height: 230px;
  vertical-align: middle;
  margin-top: -10%;
  padding: 5px;
  border-radius: 0px 0px 50px 0px;
  hr {
    border: 6px solid grey;
  }
  p {
    font-size: 16px;
    color: #000;
    font-weight: normal;
    padding-bottom: 5px;

    u {
      text-decoration: none;
      border-bottom: 1px solid black;
      padding-top: 3px;
    }
  }

  label {
    font-size: 18px;
    color: #000;
    font-weight: lighter;
    display: block;
  }

  input {
    border-radius: 0px 0px 15px 0px;
    border-width: thin;
    font-style: italic;
    border-color: #00853e;
    width: 70%;
    margin: 2% 2% 2% 0;
  }
}
