.Details {
  background: #f8f6ee;
  height: 500px;
  min-height: 600px;
  margin: 1vh;
  padding: 20px;
  width: 100%;
  overflow-y: scroll;

  &__Content {
  }

  &__Heading {
    font-size: 30px;
    text-align: left;
    font-weight: 400;
    color: #000;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  &__Subheading {
    font-size: 20px;
    text-align: left;
    font-weight: 400;
    color: #000;
    padding-left: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  &__Subsubheading {
    font-size: 15px;
    color: #000;
    padding-left: 6%;
    padding-bottom: 1%;
    text-align: left;
    color: #000;

    &--p {
      font-size: 12px;
      color: #000;
    }
  }
}
