.Sidenav {
  background: #00853e;
  min-height: 70vh;
  max-height: 80vh;
  width: 75%;
  margin: 1vh;
  min-width: 320px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;

  &__Content {
    color: #fff;
    padding: 5%;
    margin-left: 3%;
    line-height: 50px;
    font-size: 16px;
  }

  li {
    cursor: pointer;
    list-style: none;

    &:hover {
      background: rgba(0, 0, 0, 0.3);
      border-radius: 4px;
    }
    &:active {
      background: rgba(0, 0, 0, 0.3);
      border-radius: 4px;
    }
    &:focus {
      background: rgba(0, 0, 0, 0.3);
      border-radius: 4px;
    }
  }

  hr {
    border: 0;
    margin: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    min-width: 280px;
    margin: 1%;
    padding: 0;
  }
}

.SideNav__Active {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

Aspect {
  &__SubAspects {
  }

  &__SingleSubAspect {
  }
}
