.headerBar {
  // position: absolute;
  right: 0;
  height: 120px;
  padding-top: 20px;
  padding-right: 20px;

  .nav {
    a,
    li {
      &:hover {
        text-decoration: none;
        background-color: transparent;
      }
      &:focus {
        text-decoration: none;
        background-color: transparent;
      }
    }
  }

  a,
  li {
    text-decoration: none;
    color: #000;
    &:hover,
    &:focus {
      text-decoration: none;
      color: #34495e;
      background-color: transparent;
      border-bottom: 1px solid white;
    }
  }
}

.logo {
  left: 0;
  position: fixed;
  padding-left: 20px;
}
